services:
  router:
    build: .
    env_file:
      - .env
    network_mode: host
    volumes:
      - /usr/bin/wg:/usr/bin/wg
    depends_on:
      - db

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - router_pg:/var/lib/postgresql/data

volumes:
  router_pg:
